matplotlib
uuid
google-cloud-storage
fastapi
pydantic
google-cloud-firestore
opencv-python-headless
numpy
pandas
seaborn
mediapipe
uvicorn
python-dotenv
scipy
google-generativeai
python-multipart
google-cloud-storage
pytest
